.chair {
  position: absolute;
  width: 260px;
  height: 260px;
  left: 200px;
  top: 350px;
  z-index: 2;
}

.shelf {
  position: absolute;
  top: 170px;
  left: -110px;
  width: 450px;
  height: 450px;
  z-index: 1;
}

.bed {
  position: absolute;
  width: 400px;
  height: 400px;
  left: 700px;
  top: 290px;
  z-index: 2;
}

.carpet {
  position: absolute;
  width: 300px;
  height: 200px;
  top: 540px;
  left: 180px;
  z-index: 1;
}

.lamp2 {
  position: absolute;
  width: 200px;
  height: 200px;
  top: -25px;
  left: 300px;
}

.window {
  position: absolute;
  width: 250px;
  height: 250px;
  left: 700px;
  top: 150px;
}

.lamp {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 118px;
  left: 20px;
}

.wardrobe {
  position: absolute;
  left: 300px;
  top: 100px;
  z-index: 1;
}

.kontakt {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 450px;
  top: 450px;
}

.box {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 950px;
  top: 500px;
  z-index: 2;
}

.vaccum {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 450px;
  left: 100px;
  z-index: 1;
}

.toolbox {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 530px;
  left: 550px;
  z-index: 1;
}

.dog {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 800px;
  top: 540px;
}

.boks {
  position: absolute;
  width: 350px;
  height: 350px;
  left: 850px;
  top: -20px;
}

.telephone {
  position: absolute;
  width: 130px;
  height: 130px;
  left: 250px;
  top: 380px;
  z-index: 2;
}

.darts {
  position: absolute;
  height: 200px;
  width: 200px;
  left: 230px;
  top: 150px;
}

.radio {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 900px;
  top: 400px;
  z-index: 1;
}

.triangles {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 722px;
  top: 120px;
}

.trumpet {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 600px;
  top: 400px;
}

.bat {
  position: absolute;
  width: 150px;
  height: 150px;
  transform: rotate(30deg);
  left: 980px;
  top: 400px;
}

.book {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 600px;
  left: 150px;
  z-index: 2;
}

.certificate {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 550px;
  top: 170px;
}

.watch {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 750px;
  top: 300px;
}

.founded {
  visibility: hidden;
}