.chair {
  position: absolute;
  width: 260px;
  height: 260px;
  left: 200px;
  top: 350px;
  z-index: 2;
}

.shelf {
  position: absolute;
  top: 170px;
  left: -110px;
  width: 450px;
  height: 450px;
  z-index: 1;
}

.bed {
  position: absolute;
  width: 400px;
  height: 400px;
  left: 700px;
  top: 290px;
  z-index: 2;
}

.carpet {
  position: absolute;
  width: 300px;
  height: 200px;
  top: 540px;
  left: 180px;
  z-index: 1;
}

.lamp2 {
  position: absolute;
  width: 200px;
  height: 200px;
  top: -25px;
  left: 300px;
}

.window {
  position: absolute;
  width: 250px;
  height: 250px;
  left: 700px;
  top: 150px;
}

.lamp {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 118px;
  left: 20px;
}

.wardrobe {
  position: absolute;
  left: 300px;
  top: 100px;
  z-index: 1;
}

.mirror {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 580px;
  top: 360px;
  z-index: 1;
}

.kontakt {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 450px;
  top: 450px;
}

.box {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 950px;
  top: 500px;
  z-index: 2;
}

.vaccum {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 450px;
  left: 100px;
  z-index: 1;
}

.toolbox {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 530px;
  left: 550px;
  z-index: 1;
}

.dog {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 800px;
  top: 540px;
}

.boks {
  position: absolute;
  width: 350px;
  height: 350px;
  left: 850px;
  top: -20px;
}

.telephone {
  position: absolute;
  width: 130px;
  height: 130px;
  left: 250px;
  top: 380px;
  z-index: 2;
}

.darts {
  position: absolute;
  height: 200px;
  width: 200px;
  left: 230px;
  top: 150px;
}

.coffee {
  position: absolute;
  height: 100px;
  width: 100px;
  left: 520px;
  top: 360px;
  z-index: 1;
}

.iron {
  position: absolute;
  height: 100px;
  width: 100px;
  left: 750px;
  top: 500px;
  z-index: 2;
}

.radio {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 900px;
  top: 400px;
  z-index: 1;
}

.triangles {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 722px;
  top: 120px;
}

.trumpet {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 600px;
  top: 400px;
}

.bat {
  position: absolute;
  width: 150px;
  height: 150px;
  transform: rotate(30deg);
  left: 980px;
  top: 400px;
}

.banana {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 550px;
  left: 480px;
  z-index: 2;
}

.baseball {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 730px;
  top: 650px;
  z-index: 2;
}

.basketball {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 0;
  top: 550px;
  z-index: 3;
}

.brush {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 2;
  top: 280px;
  left: 120px;
}

.bible {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 630px;
}

.book {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 600px;
  left: 150px;
  z-index: 2;
}

.calc {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 560px;
  top: 495px;
  z-index: 3;
}

.certificate {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 550px;
  top: 170px;
}

.chess {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 420px;
  top: 500px;
  z-index: 3;
}

.creditCard {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 350px;
  top: 450px;
  z-index: 3;
}

.doorHanger {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 510px;
  top: 83px;
  z-index: 3;
}

.glasses {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 100px;
  top: 145px;
  z-index: 4;
}

.lipstick {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 160px;
  top: 160px;
  z-index: 4;
}

.usb {
  position: absolute;
  width: 50px;
  height: 50px;
  left:1000px;
  top: 650px;
  z-index: 3;
}

.watch {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 750px;
  top: 300px;
}