* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.startScreen {
  background-color: #B23807;
  width: 1100px;
  height: 743px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.startButton {
  width: 200px;
  height: 50px;
  border: 1px solid black;
  background-color: transparent;
  border-radius: 25px;
}

.startButton:hover {
  font-size: 15px;
  border: 2px solid black;
}

.startButton:active {
  box-shadow: 5px 5px 5px black;
}

.startScreenItems {
  width: 343px;
  height: 743px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  font-size: 10px;
}

.timeout {
  width: 200px;
  height: 30px;
  border: 2px solid #B23807;
  border-radius: 20px;
  margin: 10px;
}

.container {
  display: flex;
  flex-direction: row;
}

.wall {
  background-image: url("../images/wallpaper4.jpg");
  background-size: cover;
  width: 1100px;
  height: 500px;
  position: relative;
}

.baseboard {
  background-color: #331a00;
  width: 1100px;
  height: 40px;
}

.floor {
  background-image: url("../images/floor1.jpg");
  width: 1100px;
  height: 203px;
}

.sideList {
  background-color: white;
  border: 5px solid #B23807;
  width: 343px;
  height: 743px;
}

.itemsList {
  margin-top: 100px; //sprobuj to potem zrobic flexem
}

.item {
  width: 100px;
  height: 100px;
}

