* {
  box-sizing: border-box;
  font-family: 'League Spartan Bold', Arial;
}

body {
  margin: 0;
  padding: 0;
}

.startScreen {
  background-color: #B23807;
  width: 1100px;
  height: 743px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.startButton {
  width: 200px;
  height: 50px;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 25px;
  color: white;
}

.startButton:hover {
  font-size: 15px;
  border: 2px solid white;
}

.startButtonList {
  width: 200px;
  height: 50px;
  border: 1px solid black;
  background-color: transparent;
  border-radius: 25px;
  color: black;
}

.startButtonList:hover {
  font-size: 15px;
  border: 2px solid black;
}

.finalBorder {
  width: 500px;
  height: 200px;
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.startScreenItems {
  width: 343px;
  height: 743px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  font-size: 10px;
}

.infoSection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.timeout {
  width: 200px;
  height: 30px;
  border: 2px solid #B23807;
  border-radius: 20px;
  margin-top: 10px;
  text-align: center;
  padding-top: 3px;
  font-weight: bold;
}

.counter {
  width: 100px;
  height: 30px;
  border: 2px solid #B23807;
  border-radius: 20px;
  margin-top: 10px;
  text-align: center;
  padding-top: 3px;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: row;
}

.wall {
  background-image: url("../images/wallpaper4.jpg");
  background-size: cover;
  width: 1100px;
  height: 500px;
  position: relative;
}

.baseboard {
  background-color: #331a00;
  width: 1100px;
  height: 40px;
}

.floor {
  background-image: url("../images/floor1.jpg");
  width: 1100px;
  height: 203px;
}

.sideList {
  background-color: white;
  border: 5px solid #B23807;
  width: 343px;
  height: 743px;
}

.itemsList {
  margin-top: 100px;
  margin-left: 15px;
}

.item {
  width: 100px;
  height: 100px;
}

.time {
  color: white;
}

.disabled {
  border: 2px solid yellow;
  border-radius: 50%;
  pointer-events: none;
}

